$maxWidthContainer: 1400;

$maxMobileWidth: 576px;
$maxTabletWidth: 1024px;

$amin-time: 300ms;

$c_white: #fff;
$c_very-light-blue: #bdc1ff;
$c_light-blue: #6f76c8;
$c_blue: #5847eb;
$c_dark-blue: #1c1f4a;
$c_very-dark-blue: #0f1424;
$c_work: #ff8c66;
$c_play: #56c2e6;
$c_study: #ff5c7c;
$c_exercise: #4acf81;
$c_social: #7536d3;
$c_self-care: #f1c65b;

$desktop-gap: 30;
$mobile-gap: 24;

$border-radius: 15px;
